# analisando arquivo com python

In [1]:
# libs necessarias

In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\x450820\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\x450820\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   --------------------- ------------------ 6.0/11.5 MB 29.9 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 30.5 MB/s eta 0:00:00
Downloading numpy-2.2.5-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------- ----------------------- 5.2/12.6 MB 25.4 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.6 MB 31.4 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 29.2 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\x450820\AppData\Local\Programs\Python\Python313\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip matplotlib as plt

Note: you may need to restart the kernel to use updated packages.

ERROR: unknown command "matplotlib"

In [6]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("Relatorio_Atendimento_dos_Profissionais_janeiro.csv", 
                 encoding="latin1", 
                 sep=";")

In [17]:
df.head(10)

,Período,01/01/2025 00:00,31/01/2025 23:59,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Unidade Funcional,PRONTO SOCORRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Total Geral de Atendimentos,Total Geral de FA,Tempo Total Geral,NaN,NaN,NaN,NaN,NaN,NaN
4,54351,51758,"1421d, 07h:43min:01s",NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Profissional,CBO,Total Atendimento,Total FA,Temp. Total Atend.,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,ABIGAIL FERREIRA PIRES,ENFERMEIRO,162,162,09h:43min:32s,NaN,NaN,NaN,NaN
9,FA,Consulta,Local de Atendimento,Especialidade,Tipo Atendimento,Procedimento,Início Atendimento,Fim Atendimento,Tempo Atendimento

In [14]:
df.columns

Index(['Período', '01/01/2025 00:00', '31/01/2025 23:59', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [18]:
df = pd.read_csv("Relatorio_Atendimento_dos_Profissionais_janeiro.csv", 
                 encoding="latin1", 
                 sep=";", 
                 header=8)  # <- Começa a leitura a partir da linha 7 (índice 6)

In [19]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,ABIGAIL FERREIRA PIRES,ENFERMEIRO,162,162,09h:43min:32s,NaN,NaN,NaN,NaN
1,FA,Consulta,Local de Atendimento,Especialidade,Tipo Atendimento,Procedimento,Início Atendimento,Fim Atendimento,Tempo Atendimento
2,1941180,2975635,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:03,01/01/2025 12:06,03min:43s
3,1941182,2975643,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:18,01/01/2025 12:21,03min:28s
4,1941185,2975663,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:44,01/01/2025 12:47,02min:59s
5,1941186,2975680,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:54,01/01/2025 12:56,01min:55s
6,1941190,2975730,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:17,01/01/2025 01:21,03min:32s
7,1941192,2975753,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:31,01/01/2025 01:34,02min:55s
8,1941194,2975771,NaN,PS CIRURGIA GERAL,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:47,01/01/2025 01:54,06min:30s
9,1941214,2975858,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 04:15,01/01/2025 04:18,02min:28s

In [20]:
df = df.dropna(how='all')

In [21]:
df.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,ABIGAIL FERREIRA PIRES,ENFERMEIRO,162,162,09h:43min:32s,NaN,NaN,NaN,NaN
1,FA,Consulta,Local de Atendimento,Especialidade,Tipo Atendimento,Procedimento,Início Atendimento,Fim Atendimento,Tempo Atendimento
2,1941180,2975635,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:03,01/01/2025 12:06,03min:43s
3,1941182,2975643,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:18,01/01/2025 12:21,03min:28s
4,1941185,2975663,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:44,01/01/2025 12:47,02min:59s
5,1941186,2975680,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:54,01/01/2025 12:56,01min:55s
6,1941190,2975730,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:17,01/01/2025 01:21,03min:32s
7,1941192,2975753,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:31,01/01/2025 01:34,02min:55s
8,1941194,2975771,NaN,PS CIRURGIA GERAL,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:47,01/01/2025 01:54,06min:30s
9,1941214,2975858,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 04:15,01/01/2025 04:18,02min:28s

In [22]:
df = df.dropna(axis=1, how='all')

In [24]:
df.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,ABIGAIL FERREIRA PIRES,ENFERMEIRO,162,162,09h:43min:32s,NaN,NaN,NaN,NaN
1,FA,Consulta,Local de Atendimento,Especialidade,Tipo Atendimento,Procedimento,Início Atendimento,Fim Atendimento,Tempo Atendimento
2,1941180,2975635,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:03,01/01/2025 12:06,03min:43s
3,1941182,2975643,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:18,01/01/2025 12:21,03min:28s
4,1941185,2975663,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:44,01/01/2025 12:47,02min:59s
5,1941186,2975680,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 12:54,01/01/2025 12:56,01min:55s
6,1941190,2975730,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:17,01/01/2025 01:21,03min:32s
7,1941192,2975753,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:31,01/01/2025 01:34,02min:55s
8,1941194,2975771,NaN,PS CIRURGIA GERAL,CLASSIFICACAO_RISCO,NaN,01/01/2025 01:47,01/01/2025 01:54,06min:30s
9,1941214,2975858,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 04:15,01/01/2025 04:18,02min:28s
10,1941216,2975868,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 04:21,01/01/2025 04:22,01min:42s
11,1941220,2975881,NaN,PS CIRURGIA GERAL,CLASSIFICACAO_RISCO,NaN,01/01/2025 04:28,01/01/2025 04:30,02min:06s
12,1941222,2975891,NaN,PS CIRURGIA GERAL,CLASSIFICACAO_RISCO,NaN,01/01/2025 04:32,01/01/2025 04:37,04min:43s
13,1941229,2975923,NaN,PS CIRURGIA GERAL,CLASSIFICACAO_RISCO,NaN,01/01/2025 05:20,01/01/2025 05:23,02min:54s
14,1941230,2975929,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 05:29,01/01/2025 05:32,02min:34s
15,1941234,2975950,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 05:51,01/01/2025 05:54,03min:26s
16,1941239,2975970,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,01/01/2025 06:33,01/01/2025 06:39,06min:26s
17,1942048,2979363,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,02/01/2025 07:09,02/01/2025 07:13,03min:22s
18,1942053,2979375,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,02/01/2025 07:15,02/01/2025 07:19,04min:02s
19,1942057,2979383,NaN,PS CLÍNICA MÉDICA,CLASSIFICACAO_RISCO,NaN,02/01/2025 07:21,02/01/2025 07:24,02min:57s